/* Landscape phones and down */
@media (max-width: 480px) {

body {

}

.box {
	border-width:2px;
	padding: 1%;
/*	margin-top: 1%;
	margin-bottom: 1%;*/
}

#logo {
	height: auto;
	width: 28%;
	min-width: 50px;
	display: block;
	
}

.tag-line {
	/*font-size: 100%;*/
	font-weight: 200;
	line-height: 110%;
		margin-left: auto;
	margin-right: auto;
		display: block;

}
.big-lead {
	display: block;
	/*font-size: 120%;*/
	white-space: nowrap;
}

#searchinstruct {
	/*padding: 2%;*/
	width: 60%;
	margin: 0;
}

}



/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


body {

}


.box {
	display: block;
	
	border-width:5px;
	padding: 3%;

/*	margin-top: 10%;
	margin-bottom: 10%;*/
}

#logo {
	height: auto;
	width: 28%;
	min-width: 100px;
	padding: 1%;
	display: block;
}


.tag-line {
	/*white-space: nowrap;*/
	font-weight: 200;
	font-size: 130%;
		margin-left: auto;
	margin-right: auto;
	display: inline-block;

	
}

.big-lead {
	/*width: 50%;*/
	display: block;
	padding-bottom: 5%;
	white-space: nowrap;
	text-align: center;
	font-size: 150%;
}

#searchinstruct {
	padding: 3%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 55%;
	margin-left: 3%;
}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


body {

}


.box {
	display: inline-block;
	
	border-width:5px;
	padding: 3%;

	margin-top: 5%;
	margin-bottom: 2%;
}

#logo {
	height: auto;
	width: 28%;
	min-width: 100px;
	padding: 1%;
	display: inline-block;
}


.tag-line {
	font-weight: 200;
	font-size: 100%;
	display: inline-block;

		margin-left: auto;
	margin-right: auto;
}

.big-lead {
	font-size: 165%;
	display: block;
	padding-bottom: 5%;
	white-space: nowrap;
}

#searchinstruct {
	padding: 3%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 55%;
	margin-left: 3%;
}

}

/* Large desktop */
@media (min-width: 980px) {

body {

}


.box {
	display: inline-block;
	
	border-width:5px;
	padding: 3%;

	margin-top: 10%;
	margin-bottom: 2%;
}

#logo {
	height: auto;
	width: 28%;
	min-width: 100px;
	padding: 1%;
	display: inline-block;
}


.tag-line {
	/*white-space: nowrap;*/
	display: inline-block;

	font-weight: 200;
	font-size: 130%;
	line-height: 140%;
		margin-left: auto;
	margin-right: auto;
}

.big-lead {
	font-size: 165%;
	display: block;
	padding-bottom: 5%;
	white-space: nowrap;
}

#searchinstruct {
	padding: 3%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 55%;
	margin-left: 5%;
}


}


