body {
  background: url("beer_background5.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.box {
	display: inline-block;
	background: url("paper.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*background-color: white;*/

  border-style:solid;
border-width:5px;
border-color: black;
padding: 3%;
}

#logo {
	/*padding-top: 50px;*/
	/*padding-left: 20px;*/
	height: auto;
	width: 25%;
	min-width: 100px;
	padding: 1%;
	display: inline-block;

/*	margin-right: 35%;
	margin-left: 30%;*/

}

.big-lead {
	font-size: 165%;
	display: block;
	padding-bottom: 5%;
}

#searchinstruct {
	padding: 3%;
	display: inline-block;
	vertical-align: middle;
	width: 65%;
}

#main {
	margin-top: 10%;
	margin-bottom: 10%;
}


.vcentered {
	margin-top: 0%;
	margin-bottom: auto;
	vertical-align: middle;
}



.beer-name {
	/*color: #702F07;*/

	margin: auto;
	text-align: left;
	width:45%;
	padding-right: 1em;
}

.brewery-name {
	text-align: left;
	margin: auto;
	margin: auto;
	width:45%;
	padding-right: 1em;

}

.rating {
	width: 10%;
	text-align: right;
	margin: auto;
}

.style {
	width: 20%;
	padding-right: 1em;

}

.explanation {
	width: 70%;
	padding-right: 1em;

}

.ba-link {
	width: 10%;
	text-align: right;

}

.results {
	text-align: center;
	padding-bottom: 2em;
}

.accordion-group {
	background-color: white;
}

#show_more {
	margin-right: auto;
	margin-left: auto;
	color: #c33;
}

.ellipsis {
/*	white-space: nowrap;
	overflow: hidden;*/
}

table {
	border: none;
	width: 100%;
}

a {
	color: #000000;
	text-decoration: none;
}

td {
	vertical-align: top;
}

a:hover {
	color: #c33;
	text-decoration: none;
}


.select2-container {
    margin-bottom:9px;
}

.select2-container-multi .select2-choices {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    border: 5px solid #AAA;
/*    color: #555555;
*/    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 5px solid #cc3333;
}

.select2-container-multi.select2-dropdown-open .select2-choices {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 5px solid #cc3333;
}