body {
		background: url("beer_background6.jpg") no-repeat center center fixed;
		/*background-color: black; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tag-line {
	font-weight: 200;
}

.box {
	background: url("paper.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	border-style:solid;
	border-color: black;
}

.beer-name {
	margin: auto;
	text-align: left;
	width:45%;
	padding-right: 1em;
}

.brewery-name {
	text-align: left;
	margin: auto;
	margin: auto;
	width:45%;
	padding-right: 1em;

}

.rating {
	width: 10%;
	text-align: right;
	margin: auto;
}

.style {
	width: 20%;
	padding-right: 1em;

}

.explanation {
	width: 70%;
	padding-right: 1em;

}

.ba-link {
	width: 10%;
	text-align: right;

}

.results {
	text-align: center;
	padding-bottom: 2em;
}

.accordion-group {
	background-color: white;
}

.accordion-heading-active {
	color: #993333;
}

#show_more {
	margin-right: auto;
	margin-left: auto;
	color: #993333;
}

table {
	border: none;
	width: 100%;
}



td {
	vertical-align: top;
}

.results a {
	text-decoration: none; 
		color: black;

}

a.about {
	text-decoration: none; 
	color: #993333;
}

.about-text {
	text-align: center;
}

a:hover {
	color: #993333;
	text-decoration: none;
}

.bottom-link-selected {
	color: #993333;
	text-decoration: none;

}

.bottom-link-container {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	float: right;
}

.bottom-link {
	color: #f9f2ea;
	text-decoration: none;
}

.select2-container {
	margin-bottom:9px;
}

.select2-container-multi .select2-choices {
	line-height: 20px;
	border: 5px solid #AAA;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 5px solid #993333;
}

.select2-container-multi.select2-dropdown-open .select2-choices {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 5px solid #993333;
}