.search-bar {
/*	width: 75%;
*/}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.vcentered {
	vertical-align:middle;
}

.navbar .brand { 
	/*max-height: 40px; */
	/*overflow: visible;*/
	/*padding-top: 0;*/
	/*padding-bottom: 0; */
	/*padding-right: 0;
	width: 300px;*/
	float: none;
}

img.logo {
	padding: 0;
	width: 30%;
	min-width: 300px;
}

.state_select {
	max-width: 80%;
}


